:root{
	--border-color: black;
	--border-size: 1px;

	--background-color: black;
}

body{
	background-color: var(--background-color);
}

canvas{
	position: absolute;
  	left: 0;
  	top: 100px;
}

#layer1{
	z-index: 1;
}
#layer2{
	z-index: 2;
}
#layer3{
	z-index: 3;
}
#layer4{
	z-index: 4;
}

b{
	background-color: white;
}